@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    --bg: #050707;
    --green-start: #b74b08;
    --green-end: #4b2401;
    --muted: #9aa1a0;
    --text-muted: #9ca3af;    /* متن فرعی (طوسی) */
            --border-dashed: #4b5563; /* رنگ خط‌چین */
            --barcode-color: #000000; /* رنگ بارکد */
            
            --notch-radius: 12px;     /* شعاع سوراخ‌های کناری */
            --bottom-cut-size: 15px;  /* اندازه دالبرهای پایین */
        
}

* {
    box-sizing: border-box;
}


/* From Uiverse.io by mrhyddenn */ 
.loader {
    position: absolute;
    top: 80%;
    left: 50%;
  width: 40px;
  height: 37.5px;
  border-radius: 50%;
  border: 3px solid rgb(255,255,255,.2);
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;

  opacity: 0;
}
@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}
.loader.active{
    opacity: 1;
    z-index: 20;
}


/* ticket */


    .allticket{
        position: fixed;
        top: 3%;
        left: 38%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        transform: translateY(500px);  
            transition: 1s ease-in-out;

        opacity: 0;
        visibility: hidden;      
    }

    .allticket.active{
        opacity: 1;
        visibility: visible;
    transform: translateY(0);
    transition: 1s ease-in-out;
    z-index: 20;
    }
    .ticket-container {
        width: 320px;
        
        cursor: pointer;
        
    }

    .ticket {
        background: #f5f5f5;
        border-radius: 20px;
        padding: 30px;
        color: #fff;
        text-align: center;
    }

    .ticket.top{
        height: 330px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #f5f5f5;
        align-items: center;

    }

    .boxcart{
        height: 40px;
        width:80%;
        border-radius: 7px;
        background-color: #9aa1a033;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 48%;
    }
    


    /* --- بارکد --- */
        .barcode-section { padding: 0px 0px 0px; text-align: center; }
        .barcode {
            height: 60px;
            width: 100%;
            background: repeating-linear-gradient(
                to right, 
                var(--barcode-color) 0px, var(--barcode-color) 2px, 
                transparent 2px, transparent 5px,
                var(--barcode-color) 5px, var(--barcode-color) 7px, 
                transparent 7px, transparent 9px,
                var(--barcode-color) 9px, var(--barcode-color) 10px, 
                transparent 10px, transparent 14px
            );
            opacity: 0.9;
        }
        .barcode-number span{
            color: black;
            margin: 10px;
            padding: 10px;
            font-size: 12px;
        }

        .cartinfo{
            display: flex;
            height: 95%;
            flex-direction: column;
            justify-content: center;
            align-items: start;

        }
        .cartinfo h3{
            padding: 0px;
            display: flex;
            padding: 0;
            margin: 0;
            font-size: 10px;
            justify-content: start;
            align-items: start;
            color: black;

        }

    .separator {
        height: 3px;
        background: repeating-linear-gradient(
            to right,
            transparent 0,
            transparent 6px,
            #000000 6px,
            #534f4f 10px
        );
        width: 90%;
        margin: 0 auto;
    }


    .separator1 {
        height: 3px;
        background: repeating-linear-gradient(
            to right,
            transparent 0,
            transparent 6px,
            #000000 6px,
            #534f4f 10px
        );
        width: 90%;
        margin: 0 auto;
    }

    .dotted{
        width: 80%;
        border: none;
        margin: 20px;
        border-top: 2px  dashed #ccc;
    }

    .info {
        display: flex;
        justify-content: space-between;
        opacity: 0.8;
        margin-bottom: 20px;
    }
    .info span { font-size: 10px; opacity: 0.5; }
    .access { letter-spacing: 3px; opacity: 0.7; }

    /* -------- افکت پاره شدن -------- */

    .bottom {
        transform-origin: top center;
        transition: transform 0.9s ease-out, opacity 0.6s ease-out;
        color: black;
    }

    .torn .separator {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .torn .bottom {
        transform: rotate(18deg) translateY(120px);
        opacity: 0;
    }

    .infos{
        
        
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        font-size: 15px;
        color: black;
       
    }

    
    .infos div{
        flex: 1;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        min-width: 120px;
        padding: 10px;
    }

    .head{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
        font-weight: 800;
        color: #000;
    }
    .tick{
        background-color: #000000;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
/*  */







.servs{
    margin: 0;
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
   
}

body {
    margin: 0;
    background: var(--bg);
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container {
    width: 100%;
    gap: 20px;
    max-width: 1100px;
    height: 690px;
    background: #000;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.datebox{
    position: fixed;
    
        display: none;
     
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
    width: auto;
    height: auto;
    top: 5%;
    left: 30%;
    padding: 10px;
    z-index: 11;
    background-color: #2a2b2b69;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    box-shadow:  inset 1px 1px 4px rgba(255, 255, 255, 0.2),
    inset -3px -3px 12px rgba(0, 0, 0, 0.3),
    0 4px 12px rgba(0, 0, 0, 0.15);
    gap: 10px;
}



.datebox.shown{
   display: grid;
   justify-content: center;
   align-content: center;
   grid-template-columns: repeat(4,1fr);
    

}

#date button{
    background-color: #9fd3c6;
    position: absolute;
    top: 40%;
}
.time1{
    width: 70px;
    height: 55px;
    margin: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 4px;
    text-align: center;
    user-select: none;
    background: rgba(0, 0, 0, 0.422);
    flex: 1;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
        border-radius: 10px;

}

.time1:hover{
    background-color: #ffffffb3;
    color: #000000;
}


.datebox button{
    display: flex;
    width: 40%;
    height: 20%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.blurOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0507075a;
    backdrop-filter: blur(5px);
    z-index: 10;
    display: none;
        transition: 0.5s ease-in-out;

}

.blurOverlay.active{
display: flex;
    transition: 0.5s ease-in-out;

}
.datebox.active{
    transition: 0.5s ease-in-out;

}

/* Left Panel */
.left {
    flex: 1.7;
    padding: 50px;
    background: linear-gradient(135deg, var(--green-start), var(--green-end));
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:  70% ;
    
}

.title {
    font-size: 34px;
    margin: 0;
    direction: rtl;
}

.subtitle {
    opacity: .9;
    margin-top: 10px;
    direction: rtl;
}

.steps {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    

}

.step {
    width: 130px;
    background: rgba(255, 255, 255, .1);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    
}

.step.active {
    background: #fff;
    color: #000;
}

.num {
    background: rgba(0, 0, 0, .2);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}

.mtn{
    margin-top: 10px;
}

.left-footer{
margin-top: 20px;
}



/* Right Panel */
.right {
    flex: 1.1;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #050707;
    padding: 50px;
    color: #fff;
        direction: rtl;

}

.lead {
    color: var(--muted);
}

.socials {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    flex: 1;
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: rgba(255,255,255,.05);
    color: #fff;
        font-weight: 600;

}



.vv{
    cursor: pointer;
    position: absolute;
    top: 49%;
    left: 60%;
}


.btn.ghost {
    background: rgba(255, 255, 255, 0.56);
    border: 1px solid rgba(255,255,255,.1);
    color: black;
    font-weight: 600;
    cursor: not-allowed;
}

.or {
    text-align: center;
    color: var(--muted);
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: right;
    
}

#numb{
    flex: 1;
    display: flex;
    width: 310px;
}

input[type="email"]{
    width: 310px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: rgba(255,255,255,.05);
    color: #fff;
    margin-top: 10px;
    text-align: right;
    justify-content: right;
}

.password-wrap {
    position: relative;
}

.toggle-pw {
    position: absolute;
    right: 10px;
    top: 9px;
    border: none;
    background: none;
    color: var(--muted);
    cursor: pointer;
}

.submit {
    padding: 12px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.small {
    text-align: center;
    color: var(--muted);
}

.small a {
    color: #9fd3c6;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto; /* چون column می‌شود باید ارتفاع خودکار شود */
    }

    .left, .right {
        width: 100%;  /* هر دو بخش تمام عرض شوند */
    }
}
